@import './CdrCard.theme.scss';

@mixin cdr-card-base-mixin($palette: 'default') {
    @include cdr-card-behavior;
    @include cdr-card-color;
    @include cdr-card-scaffold;
  }
  
  @mixin cdr-card-link-mixin($palette: 'default') {
    text-decoration: card-styles-get('__linked', 'card__link-title-decoration', $palette);
  
    &:hover {
      text-decoration: underline !important;
      color: cdr-card-color('card-text-active') !important;
    }
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: cdr-value('card-width');
      z-index: 1;
      height: cdr-value('card-height');
      left: 0;
      top: 0;
      background-color: transparent;
    }
  }
  
  
  